Imports

In [5]:
import pandas as pd
import requests

Had to download data due to issues with Geocoder package

In [6]:
url='https://cocl.us/Geospatial_data/Geospatial_Coordinates.csv'
df_geo=pd.read_csv(url)
df_geo.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

Renamed columns for integrity across datasets

In [12]:
df_geo.rename(columns={'PostalCode':'Postal Code'})
toronto = pd.read_csv('toronto_data.csv', sep=',')
toronto

,Unnamed: 0,Postal Code,Borough,Neighborhood
0,0,M1B,Scarborough,"Malvern, Rouge"
1,1,M1C,Scarborough,"Rouge Hill, Port Union, Highland Creek"
2,2,M1E,Scarborough,"Guildwood, Morningside, West Hill"
3,3,M1G,Scarborough,Woburn
4,4,M1H,Scarborough,Cedarbrae
...,...,...,...,...
98,98,M9N,York,Weston
99,99,M9P,Etobicoke,Westmount
100,100,M9R,Etobicoke,"Kingsview Village, St. Phillips, Martin Grove ..."
101,101,M9V,Etobicoke,"South Steeles, Silverstone, Humbergate, Jamest..."
102,102,M9W,Etobicoke,"Northwest, West Humber - Clairville"

Merging the two data sets on "Postal Code" feature

In [8]:
df_combi = pd.merge(toronto, df_geo, on='Postal Code')
df_combi.drop('Unnamed: 0', axis=1, inplace=True)
df_combi

Check shape of merged Dat

In [11]:
df_combi.shape

(103, 5)

In [35]:
df_combi.to_csv('combined_data.csv')